html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

p {
  margin: 0;
}

body {
  min-width: 1200px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.section-title {
  margin: 0;
  margin-bottom: 40px;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}

/* Header */
.header {
  padding: 36px 0; 
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-container {
  align-items: center;
}

.logo {
  margin-right: auto;
}

.header-link {
  position: relative;
  margin-right: 52px;
  font-weight: 600;
  color: #1c1c1c;
}

.header-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.header-link:hover {
  color: #71A7E2;
}

.header-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #3474BA;
  opacity: 0;
}

.header-link:active {
  color: #3172B9;
  outline: none;
}

.header-link:active::after {
  opacity: 1;
}

.btn {
  position: relative;
  outline: none;
  font-weight: 600;
  color: #fff;
  padding: 15px 36px;
  background: #3172B9;
  border-radius: 3px;
  text-transform: uppercase;
}

.btn::after {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: inherit;
  border: 1px solid #3172B9;
  outline: none;
  opacity: 0;
}

.btn:focus::after {
  opacity: 1;
}

.btn:hover {
  background-color: #71A7E2;
}

.btn:active {
  background-color: #0e3b6c;
}

.btn:active::after {
  opacity: 0;
}

/* Hero-section */
.hero {
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url(../img/first-bg\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  width: 519px;
  color: #1C1C1C;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
  width: 471px;
}

.hero-btn {
  margin-bottom: 14px;
  padding: 19px 58px;
}

.hero-secure {
  display: block;
  padding-top: 2px;
  margin-left: 40px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 11px;
  line-height: 155%;
  text-transform: uppercase;
  color: #787878;
  background-image: url(../img/secure.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 14px 17px;
}

/* Services section */

.services {
  border-bottom: 1px solid #E4E4E4;
}

.services-title {
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
  margin-bottom: 21px;
}

.services-descr {
  text-align: center;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
  margin-bottom: 54px;
}

.services-list-item {
  flex-direction: column;
  align-items: center;
  padding: 30px;
  width: 270px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
  padding: 60px 30px;
}

.services-list-item:not(:nth-child(4n)) {
  margin-right: 40px;
}

.services-list-item:hover {
  border-color: #3172B9;
  background-color: #3172B9;
}

.services-icon-item {
  margin-bottom: 25px;
  fill: #3172B9;
}

.services-list-item:hover .services-icon-item {
  fill: #fff;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
}

.services-list-item:hover .services-item-title {
  color: #fff;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

.services-list-item:hover .services-item-descr {
  color: #fff;
}

/* Articles */

.articles {
  border-bottom: 1px solid #DADADA;
}

.articles-title {
  margin: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  margin-bottom: 42px;
}

.articles-list {
  flex-wrap: wrap;
}

.articles-list-item {
  width: 570px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
}

.articles-list-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview-link {
  position: relative;
  width: 100%;
}

.blog-preview-link:focus {
  background-color: #71A7E2;
}

.blog-preview-link:focus .blog-preview-time {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-text {
  color: #fff;
}

.blog-preview-link:focus .blog-preview-title {
  color: #fff;
}

.blog-preview-link:hover {
  background-color: #3172B9;
}

.blog-preview-link:hover .blog-preview-time {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-text {
  color: #fff;
}

.blog-preview-link:hover .blog-preview-title {
  color: #fff;
}

.blog-preview-link:active {
  background-color: #0E3B6C;
}

.blog-preview-link:active .blog-preview-time {
  color: #fff;
}

.blog-preview-link:active .blog-preview-text {
  color: #fff;
}

.blog-preview-link:active .blog-preview-title {
  color: #fff;
}

.blog-preview-text {
  padding-top: 25px;
  padding-left: 30px;
}

.blog-preview-time {
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
}

.blog-preview-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  width: 350px;
  padding-bottom: 40px;
}

/* Clients */
.clients {
  border-bottom: 1px solid #DADADA;
}

.clients-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.clients-list-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px 30px 36px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-item-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  margin-bottom: 33px;
  width: 280px;
}

.clients-name {
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.clients-post {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #DADADA;
  padding-top: 28px;
}

.avatar-users {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;
  border: 2px solid #3172B9;
  border-radius: 50%;
}

/* Contacts */
.contacts {
  border-bottom: 1px solid #DADADA;
}

.contacts-address {
  font-style: normal;
}

.contacts-title {
  margin: 0;
  margin-bottom: 110px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.contacts-list-item {
  flex-direction: column;
  width: 370px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 48px;
}

.contacts-list-item:not(:last-child) {
  margin-right: 30px;
}

.contacts-item-address {
  background-image: url(../img/visit-us.svg);
}

.contacts-item-call {
  background-image: url(../img/call-us.svg);
}

.contacts-item-email {
  background-image: url(../img/email-us.svg);
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.contacts-item-text {
  width: 215px;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
  width: 150px;
}

.contacts-item-link:focus {
  outline: 1px solid #71A7E2;
}

.contacts-item-link:hover {
  color: #71A7E2;
}

.contacts-item-link:active {
  color: #0E3B6C;
  outline: none;
}

/* Join us */
.join-section {
  border-bottom: 1px solid #DADADA;
}

.section-join {
  margin: 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #1C1C1C;
  margin-bottom: 22px;
}

.join-descr {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #787878;
}

fieldset {
  border: none;
}

.form {
  padding-right: 55px;
  padding-left: 55px;
}

.form-input {
  padding: 16px 28px;
  border: 1px solid #DADADA;
  border-radius: 50px;
  width: 251px;
  height: 60px;
  box-sizing: border-box;
}

.form-input:nth-child(-n+2) {
  margin-bottom: 19px;
}

.form-input:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);;
}

.form-input:hover {
  border-color: #71A7E2;
}

.form-input:active {
  border-color: #0e3b6c;
}

.form-select:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);;
}

.form-select:hover {
  border-color: #71A7E2;
}

.form-select:active {
  border-color: #0e3b6c;
}

.form-textarea:focus {
  outline: none;
  border-color: #71A7E2;
  background-color: rgba(113, 167, 226, 0.2);;
}

.form-textarea:hover {
  border-color: #71A7E2;
}

.form-textarea:active {
  border-color: #0e3b6c;
}

.form-select {
  padding: 16px 28px;
  border: 1px solid #DADADA;
  border-radius: 50px;
  width: 251px;
  height: 60px;
  box-sizing: border-box;
}

.form-textarea {
  padding: 16px 28px;
  box-sizing: border-box;
  border: 1px solid #DADADA;
  border-radius: 20px;
  resize: none;
  width: 100%;
  height: 100%;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  width: 49%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 140px;
}

.form-right {
  width: 49%;
  height: 140px;
}

.form-bot {
  display: flex;
  justify-content: flex-end;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 9px;
}

.form-check {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  border-bottom: 1px solid #3172B9;
  color: #3172B9;
}

/* Footer */
.footer {
  padding: 42px 0;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-center,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-copy {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-link {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #787878;
}

.social-link {
  display: flex;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
}

.social-link svg {
  fill: #000;
}

.social-link-mail svg {
  fill: transparent;
  stroke: #000;
}

.social-link:not(:last-child) {
  margin-right: 32px;
}

.footer-nav-list-item:not(:last-child) {
  margin-right: 28px;
}

.social-link:focus {
  outline-offset: 2px;
  outline: 1px solid #71A7E2;
}

.social-link:hover svg {
  fill: #71A7E2;
}

.social-link-mail:hover svg {
  fill: transparent;
  stroke: #71A7E2;
}

.social-link:active svg {
  fill: #3172B9;
}

.social-link-mail:active svg {
  fill: transparent;
  stroke: #3172B9;
}